<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/790d0ad27f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <title>Weather App</title>
</head>

<body>
    <div class="box" id="box">
    <form class="search">
        <input type="search" id="search" placeholder="Search city here">
        <button id="srbtn">Search</button>
    </form>
        <div class="wave -one"></div>
        <div class="wave -two"></div>
        <div class="wave -three"></div>

        <div class="weathercon" id="weathercon"><i class="fa-regular fa-sun" style="color:orange"></i></div>

        <div class="info">
            <h2 class="location" style="font-size: large;"><img id="weather-ic" src="weather-ic.png" alt="" style="height: 50px;"><span id="location"></span></h2>
            <p id="date">wed|34|dddd|sdf</p>
            <h1 class="temp" id="temp"></h1>
            <p class="minmaxtemp" id="minmaxtemp"></p>
        </div>
    </div>





    <script>
       

    </script>
    <script src="main.js"></script>
</body>

</html>